---
import {
  CONTENT_RECENT_BLOG_POSTS_COUNT,
  CONTENT_RECENT_PROJECTS_COUNT,
} from "astro:env/server";
import { cx } from "class-variance-authority";
import { AchievementCard } from "@/components/collections/achievements";
import { BlogSection, PostCard } from "@/components/collections/blog";
import {
  ProjectCard,
  ProjectsSection,
} from "@/components/collections/projects";
import { Skills } from "@/components/collections/skills";
import { Section } from "@/components/site";
import TrackWidget from "@/components/site/TrackWidget.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getAchievements } from "@/lib/collections/achievements";
import { getBlogPosts } from "@/lib/collections/blog";
import { getProjectsWithStats } from "@/lib/collections/projects";
import { getSkills } from "@/lib/collections/skills";
import { getTranslator } from "@/lib/i18n";

export const prerender = false;

Astro.response.headers.set(
  "Cache-Control",
  "private, no-cache, no-store, must-revalidate",
);

const t = getTranslator(Astro.currentLocale);

const blog = await getBlogPosts({
  count: CONTENT_RECENT_BLOG_POSTS_COUNT,
  locale: Astro.currentLocale,
  status: "published",
});

const projects = await getProjectsWithStats({
  count: CONTENT_RECENT_PROJECTS_COUNT,
  locale: Astro.currentLocale,
});

const skills = await getSkills();

const achievements = await getAchievements({ locale: Astro.currentLocale });
---

<BaseLayout title={t("home.title")} description={t("home.description")}>
  <Section class="sm:py-8 py-4 px-4 lg:px-8" pattern="grid">
    <h1 class="mb-3 text-3xl font-(serif semibold)">
      <span transition:name="home-page-title">{t("home.title")}</span>
    </h1>
    <p class="text-(pretty current/75)">{t("home.description")}</p>
  </Section>
  <TrackWidget />
  <Section class="h-3.5" variant="body" />
  <Section variant="grid">
    <div
      class="w-full flex max-sm:flex-col sm:items-center gap-2 justify-between sm:py-6 py-4 px-4 lg:px-8 border-b border-foreground/5"
    >
      <hgroup>
        <h2 class="text-xl font-(serif medium)">{t("skills.title")}</h2>
        <p class="text-current/75 mt-1">{t("skills.description")}</p>
      </hgroup>
    </div>

    <Skills client:idle skills={skills} locale={Astro.currentLocale} />
  </Section>
  <Section class="h-3.5" variant="body" />
  <Section>
    <ProjectsSection locale={Astro.currentLocale}>
      <ul
        class={cx("grid gap-4 sm:py-8 py-4 px-4 lg:px-8", projects.length > 1 ? "sm:grid-cols-2" : "sm:grid-cols-1")}
      >
        {projects.map((project) => (
          <li>
            <ProjectCard project={project} />
          </li>
        ))}
      </ul>
    </ProjectsSection>
  </Section>
  <Section class="h-3.5" variant="body" />
  <Section variant="grid">
    <div
      class="w-full flex max-sm:flex-col sm:items-center gap-2 justify-between sm:py-6 py-4 px-4 lg:px-8"
    >
      <hgroup>
        <h2 class="text-xl font-(serif medium)">{t("achievements.heading")}</h2>
        <p class="text-current/75 mt-1">{t("achievements.description")}</p>
      </hgroup>
    </div>

    <ul class="grid grid-cols-2 lg:grid-cols-4">
      {achievements.map((achievement, index) => (
        <li class={cx("border-foreground/5 border-t", index !== 0 && "sm:border-l", index % 2 !== 0 && "max-sm:border-l")}>
          <AchievementCard achievement={achievement} />
        </li>
      ))}
    </ul>
  </Section>
  <Section class="h-3.5" variant="body" />
  <Section>
    <BlogSection locale={Astro.currentLocale}>
      <ul class="space-y-4 sm:py-6 py-4 px-4 lg:px-8">
        {blog.map((post) => (
          <li>
            <PostCard post={post} />
          </li>
        ))}
      </ul>
    </BlogSection>
  </Section>
</BaseLayout>
