---
import {
  CONTENT_RECENT_BLOG_POSTS_COUNT,
  CONTENT_RECENT_PROJECTS_COUNT,
} from "astro:env/server";
import { cx } from "class-variance-authority";
import { AchievementCard } from "@/components/collections/achievements";
import { PostCard } from "@/components/collections/blog";
import { ProjectCard } from "@/components/collections/projects";
import { Skills } from "@/components/collections/skills";
import { SocialCard } from "@/components/collections/socials";
import { Section } from "@/components/site";
import { Link } from "@/components/ui";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getAchievements } from "@/lib/collections/achievements";
import { getBlogPosts } from "@/lib/collections/blog";
import { getProjectsWithStats } from "@/lib/collections/projects";
import { getSkills } from "@/lib/collections/skills";
import { getSocials } from "@/lib/collections/socials";
import { getTranslator } from "@/lib/i18n";

export const prerender = false;

Astro.response.headers.set(
  "Cache-Control",
  "public, s-maxage=3600, stale-while-revalidate=60",
);

const t = getTranslator(Astro.currentLocale);

const blog = await getBlogPosts({
  count: CONTENT_RECENT_BLOG_POSTS_COUNT,
  locale: Astro.currentLocale,
});

const projects = await getProjectsWithStats({
  count: CONTENT_RECENT_PROJECTS_COUNT,
  locale: Astro.currentLocale,
});

const skills = await getSkills();

const socials = await getSocials();

const achievements = await getAchievements({ locale: Astro.currentLocale });
---

<BaseLayout title={t("home.title")} description={t("home.description")}>
  <Section pattern="grid">
    <h1 class="mb-3 text-3xl font-(serif semibold)">{t("home.title")}</h1>
    <p class="text-(pretty current/75)">{t("home.description")}</p>
  </Section>

  <Section class="!p-0">
    <h2 class="mb-1.5 text-xl font-(serif medium) mt-4 sm:mt-6 px-4 md:px-8">
      {t("skills.title")}
    </h2>
    <Skills client:idle skills={skills} locale={Astro.currentLocale} />
  </Section>

  <Section>
    <header class="mb-2 flex items-center justify-between">
      <h2 class="text-xl font-(serif medium)">{t("projects.recent")}</h2>
      <Link href={`/${Astro.currentLocale}/projects`}>
        {t("projects.all")}
      </Link>
    </header>
    <ul
      class={cx("grid gap-4", projects.length > 1 ? "sm:grid-cols-2" : "sm:grid-cols-1")}
    >
      {projects.map((project) => (
        <li>
          <ProjectCard project={project} />
        </li>
      ))}
    </ul>
  </Section>

  <Section>
    <h2 class="text-xl font-(serif medium) mb-3 sm:-mt-2">
      {t("achievements.heading")}
    </h2>
    <ul class="-mb-4 sm:-mb-8 -mx-4 sm:-mx-8 grid grid-cols-2 lg:grid-cols-4">
      {achievements.map((achievement, index) => (
        <li class={cx("border-foreground/5 border-t", index !== 0 && "sm:border-l", index % 2 !== 0 && "max-sm:border-l")}>
          <AchievementCard achievement={achievement} />
        </li>
      ))}
    </ul>
  </Section>

  <Section>
    <header class="mb-3 flex items-center justify-between">
      <h2 class="text-xl font-(serif medium)">{t("blog.latest")}</h2>
      <Link href={`/${Astro.currentLocale}/blog`}>{t("blog.all")}</Link>
    </header>
    <ul class="space-y-4">
      {blog.map((post) => (
        <li>
          <PostCard post={post} />
        </li>
      ))}
    </ul>
  </Section>

  <Section>
    <h2 class="text-xl font-(serif medium) mb-3 sm:-mt-2">
      {t("socials.heading")}
    </h2>
    <ul
      class="-mb-4 sm:-mb-8 -mx-4 sm:-mx-8 grid grid-cols-2 divide-(x foreground/5) border-(y foreground/5)"
    >
      {socials.map(social => (
        <li class="flex">
          <SocialCard social={social} />
        </li>
      ))}
    </ul>
  </Section>
</BaseLayout>
