---
import { Image } from "astro:assets";
import { cx } from "class-variance-authority";
import { Time } from "@/components/ui";
import type { ProjectWithStats } from "@/lib/collections/projects";

interface Props {
  project: ProjectWithStats;
  dateFormatOptions?: Intl.DateTimeFormatOptions;
}

const {
  project,
  dateFormatOptions = { day: "numeric", month: "short", year: "numeric" },
} = Astro.props;

const style = { "--project-card-color": project.data.color };
---

<a
  href={project.data.href}
  target="_blank"
  rel="noopener noreferrer"
  class={cx([
    "flex flex-col rounded-2xl p-3.5",
    "border border-[var(--project-card-color)]/15",
    "bg-[var(--project-card-color)]/5 dark:bg-[var(--project-card-color)]/10",
    "motion-safe:(transition duration-300 ease-in-out)",
    "@hover:(bg-[var(--project-card-color)]/10 border-[var(--project-card-color)]/30)",
    "focus-visible:(outline-3 outline-offset-2 outline-selection)",
    "active:(translate-y-px bg-[var(--project-card-color)]/10 border-[var(--project-card-color)]/30)",
    "[box-shadow:var(--colors-body)_0_0_0_3px_inset]",
  ])}
  style={style}
  aria-label={project.data.title}
  transition:name={`project-${project.id}-card`}
>
  <div class="mb-1 flex items-center gap-2">
    <Image
      src={project.data.logo}
      alt={project.data.title}
      width={22}
      height={22}
      class="rounded-full"
      loading="eager"
      draggable="false"
    />
    <h3 class="font-medium">{project.data.title}</h3>
  </div>
  <p class="text-([0.9375rem] current/70) text-pretty">
    {project.data.description}
  </p>
  {!!project.stats && (
    <div class="flex gap-2 font-medium items-center text-[var(--project-card-color)] font-mono text-xs mt-2">
      <p class="flex items-center gap-1">
        <span
          class="block size-4 ring ring-foreground/5 ring-inset bg-[var(--bg)]/50 rounded-full"
          style={{"--bg": project.stats.primaryLanguage.color}}
        />
        <span class="tabular-nums leading-none -mb-0.5">
          {project.stats.primaryLanguage.name}
        </span>
      </p>
      <p class="flex items-center gap-1">
        <span class="i-lucide:star text-base" />
        <span class="tabular-nums leading-none -mb-0.5">
          {project.stats.stargazerCount}
        </span>
      </p>
      <p class="flex items-center gap-1">
        <span class="i-lucide:git-fork text-base" />
        <span class="tabular-nums leading-none -mb-0.5">
          {project.stats.forkCount}
        </span>
      </p>
      <Time
        date={project.data.dateStart}
        class="ms-auto text-current/75 font-mono"
        options={dateFormatOptions}
        transition:name={`post-${project.id}-date`}
      />
    </div>
  )}
</a>
