---
import { cx } from "class-variance-authority";
import { Time } from "@/components/ui";
import type { BlogPost } from "@/lib/collections/blog";
import PostTags from "./PostTags.astro";

interface Props {
  post: BlogPost;
  dateFormatOptions?: Intl.DateTimeFormatOptions;
}

const {
  post,
  dateFormatOptions = { day: "numeric", month: "short", year: "numeric" },
} = Astro.props;
---

<a
  class={cx([
    "flex flex-col rounded-2xl p-3.5",
    "border border-foreground/5",
    "bg-surface/25",
    "motion-safe:transition",
    "@hover:(bg-surface/50 border-foreground/15)",
    "focus-visible:(outline-3 outline-offset-2 outline-selection)",
    "active:(translate-y-px bg-surface/50 border-foreground/15)",
    "[box-shadow:var(--colors-body)_0_0_0_3px_inset]",
  ])}
  href={`/${Astro.currentLocale}/${post.collection}/${post.id.replace(`${Astro.currentLocale}/`, "")}`}
  aria-label={post.data.title}
  transition:name={`post-${post.id}-card`}
>
  <div class="text-pretty">
    <h3 class="font-serif mb-0.5" transition:name={`post-${post.id}-title`}>
      {post.data.title}
    </h3>
    <p
      class="text-([0.9375rem] current/60) line-clamp-2"
      transition:name={`post-${post.id}-description`}
    >
      {post.data.description}
    </p>
  </div>
  <footer class="mt-2 flex items-center">
    {post.data.tags && <PostTags tags={post.data.tags} transitionId={`post-${post.id}-tags`} />}
    <Time
      date={post.data.date}
      class="ms-auto text-(xs current/40) font-mono"
      options={dateFormatOptions}
      transition:name={`post-${post.id}-date`}
    />
  </footer>
</a>
