---
import { cx } from "class-variance-authority";
import { Time } from "@/components/ui";
import type { BlogPost } from "@/lib/collections/blog";
import PostTags from "./PostTags.astro";

interface Props {
  post: BlogPost;
  dateFormatOptions?: Intl.DateTimeFormatOptions;
}

const {
  post,
  dateFormatOptions = { day: "numeric", month: "short", year: "numeric" },
} = Astro.props;
---

<a
  class={cx([
    "relative flex flex-col cursor-pointer rounded-xl p-4 outline-none",
    "ring ring-inset ring-foreground/5",
    "bg-surface/25",
    "motion-safe:transition",
    "@hover:(bg-surface/30 ring-foreground/10)",
    "focus-visible:(bg-surface/30 ring-foreground/10)",
    "active:(!bg-surface/35 !ring-foreground/15)",
  ])}
  href={`/${Astro.currentLocale}/${post.collection}/${post.id.replace(`${Astro.currentLocale}/`, "")}`}
  aria-label={post.data.title}
  transition:name={`post-${post.id}-card`}
>
  <hgroup class="text-pretty">
    <h3 class="font-(serif medium)" transition:name={`post-${post.id}-title`}>
      {post.data.title}
    </h3>
    <p
      class="text-(sm current/60) line-clamp-2"
      transition:name={`post-${post.id}-description`}
    >
      {post.data.description}
    </p>
  </hgroup>
  <footer class="mt-2 flex items-center">
    {post.data.tags && <PostTags tags={post.data.tags} transitionId={`post-${post.id}-tags`} />}
    <Time
      date={post.data.date}
      class="ms-auto text-(xs current/40) font-mono"
      options={dateFormatOptions}
      transition:name={`post-${post.id}-date`}
    />
  </footer>
</a>
