---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Time from "@components/Time.astro";
import { readingTime } from "@lib/utils";
import Article from "@components/Article.astro";

export async function getStaticPaths() {
  const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
  );
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<PageLayout title={post.data.title} description={post.data.description}>
  <Article>
    <div class="space-y-1 my-10">
      <div class="flex items-center gap-1.5">
        <div class="font-base text-sm">
          <Time date={post.data.date} />
        </div>
        ·
        <div class="font-base text-sm">
          {readingTime(post.body)}
        </div>
      </div>
      <hgroup>
        <h1>{post.data.title}</h1>
        <p>{post.data.description}</p>
      </hgroup>
    </div>
    <Content />
  </Article>
</PageLayout>
