---
import PostCard from "@components/PostCard.astro";
import { BLOG } from "@constants";
import { getBlogEntries } from "@content/entries";
import PageLayout from "@layouts/PageLayout.astro";
import { type CollectionEntry } from "astro:content";

const data = await getBlogEntries();

type Acc = {
  [year: string]: CollectionEntry<"blog">[];
};

const posts = data.reduce((acc: Acc, post) => {
  const year = post.data.date.getFullYear().toString();
  if (!acc[year]) {
    acc[year] = [];
  }
  acc[year].push(post);
  return acc;
}, {});

const years = Object.keys(posts).sort((a, b) => parseInt(b) - parseInt(a));
---

<PageLayout title={BLOG.title} description={BLOG.description}>
  <div class="space-y-10">
    <hgroup>
      <h1 class="font-semibold text-3xl mb-3">{BLOG.title}</h1>
      <p class="font-serif text-justify">{BLOG.description}</p>
    </hgroup>

    <div class="space-y-4">
      {
        years.map((year) => (
          <section class="space-y-2">
            <div class="sticky top-0 z-10 bg-stone-100 py-2 text-lg font-semibold">{year}</div>
            <div>
              <ul class="flex flex-col gap-4">
                {posts[year].map((post) => (
                  <li>
                    <PostCard entry={post} />
                  </li>
                ))}
              </ul>
            </div>
          </section>
        ))
      }
    </div>
  </div>
</PageLayout>
