---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import Themes from "astro-themes";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)}>
<Font cssVariable="--font-ibm-plex-sans" preload />
<Font cssVariable="--font-lora" preload />
<Font cssVariable="--font-fira-code" preload />
<title>{title}</title>
<meta name="title" content={title}>
<meta name="description" content={description}>
<meta property="og:type" content="website">
<meta property="og:url" content={Astro.url}>
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content={Astro.url}>
<meta property="twitter:title" content={title}>
<meta property="twitter:description" content={description}>
<meta property="tg:site_verification" content="g7j8/rPFXfhyrq5q0QQV7EsYWv4=">

<Themes />
<ClientRouter fallback="swap" />

<style is:global>
@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(*) {
    display: none !important;
  }

  ::view-transition-new(*) {
    animation: none !important;
    opacity: 1 !important;
  }
}

@property --mask-start {
  syntax: "<color>";
  initial-value: black;
  inherits: false;
}

@property --mask-end {
  syntax: "<color>";
  initial-value: black;
  inherits: false;
}

[data-overflow-x-start] {
  --mask-start: transparent;
}

[data-overflow-x-end] {
  --mask-end: transparent;
}

[data-has-overflow-x] {
  --size-start: min(var(--scroll-area-overflow-x-start), 10%);
  --size-end: min(var(--scroll-area-overflow-x-end), 10%);

  mask-image: linear-gradient(
    to right,
    var(--mask-start) 0%,
    color-mix(in srgb, var(--mask-start), black 80%)
      calc(var(--size-start) * 0.7),
    black var(--size-start),
    black calc(100% - var(--size-end)),
    color-mix(in srgb, var(--mask-end), black 80%)
      calc(100% - var(--size-end) * 0.7),
    var(--mask-end) 100%
  );
}

@keyframes flipOut {
  0% {
    transform: rotateX(0deg) scale(1);
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg) scale(0.8);
    opacity: 0;
  }
}

@keyframes flipIn {
  0% {
    transform: rotateX(-90deg) scale(0.8);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes sync-progress {
  from {
    stroke-dashoffset: var(--circumference);
  }
  to {
    stroke-dashoffset: 0;
  }
}

.svg-scroll-progress {
  animation: sync-progress linear both;
  animation-timeline: scroll(root);
}
</style>
