---
import { Image } from "astro:assets";
import { getBlogPosts } from "@/lib/collections/blog";
import { getProjects } from "@/lib/collections/projects";
import { getSocials } from "@/lib/collections/socials";
import { getTranslator } from "@/lib/i18n";
import { Link } from "../ui";
import Search from "./Search";
import Section from "./Section.astro";

const t = getTranslator(Astro.currentLocale);

const postsEntries = await getBlogPosts({ locale: Astro.currentLocale });

const posts = postsEntries.map((post) => ({
  id: post.id,
  title: post.data.title,
  description: post.data.description,
  tags: post.data.tags,
}));

const projectsEntries = await getProjects({
  locale: Astro.currentLocale,
});

const projects = projectsEntries.map((project) => ({
  id: project.id,
  title: project.data.title,
  description: project.data.description,
  href: project.data.href,
  repo: project.data.repo,
  logo: project.data.logo?.src || "",
}));

const socialsEntries = await getSocials();

const socials = socialsEntries.map((social) => social.data);

const props = Astro.props;
---

<header
  class="sticky bg-body top-0 z-1 flex min-w-0 border-foreground/5 border-b max-sm:border-t"
  {...props}
>
  <Section class="flex-row! items-center justify-between !py-3.5">
    <Link
      href={`/${Astro.currentLocale}`}
      underline={false}
      class="font-semibold text-current/75 gap-2 group"
    >
      <Image
        src="https://avatars.githubusercontent.com/u/98274273?v=4"
        alt={t("name")}
        class="rounded-full opacity-75 [@media(pointer:fine)]:group-hover:opacity-100 motion-safe:transition"
        width={24}
        height={24}
        loading="eager"
        draggable="false"
      />
      {t("name")}
    </Link>
    <Search
      client:idle
      posts={posts}
      projects={projects}
      socials={socials}
      url={Astro.url}
      site={Astro.site}
      locale={Astro.currentLocale}
    />
  </Section>
</header>

<style is:global>
html[data-astro-transition] header,
html[data-astro-transition] header * {
  transition: none;
  animation: none;
}
</style>
