---
import { Font } from "astro:assets";
import { ClientRouter } from "astro:transitions";
import Themes from "astro-themes";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)}>
<Font cssVariable="--font-fira-code" preload />
<Font cssVariable="--font-inter" preload />
<Font cssVariable="--font-lora" preload />
<title>{title}</title>
<meta name="title" content={title}>
<meta name="description" content={description}>
<meta property="og:type" content="website">
<meta property="og:url" content={Astro.url}>
<meta property="og:title" content={title}>
<meta property="og:description" content={description}>
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content={Astro.url}>
<meta property="twitter:title" content={title}>
<meta property="twitter:description" content={description}>
<meta property="tg:site_verification" content="g7j8/rPFXfhyrq5q0QQV7EsYWv4=">

<Themes />
<ClientRouter fallback="swap" />

<style is:global>
@media (prefers-reduced-motion: reduce) {
  ::view-transition-old(*) {
    display: none !important;
  }

  ::view-transition-new(*) {
    animation: none !important;
    opacity: 1 !important;
  }
}
</style>
