---
import Container from "@/components/Container.astro";
import { SOCIALS } from "@/constants";
import { LOCALES, getTranslator } from "@/i18n";

import Link from "./Link.astro";
import Nav from "./Nav.astro";

const t = getTranslator(Astro.currentLocale);
---

<footer class="py-6">
  <Container>
    <div class="flex items-center justify-between gap-2 max-sm:flex-col-reverse sm:gap-4">
      <div class="flex w-full grow items-center justify-between">
        <Link href={`/${Astro.currentLocale}`} underline={false}>
          <span class="font-semibold">
            {t("name")}
          </span>
        </Link>
        <Nav
          items={LOCALES.map((locale) => ({
            name: locale,
            href: Astro.currentLocale != null ? Astro.url.pathname.replace(Astro.currentLocale, locale) : `/${locale}`,
            active: locale === Astro.currentLocale,
          }))}
        />
      </div>

      <Nav
        items={[
          {
            name: "RSS",
            href: `${Astro.site}${Astro.currentLocale}/rss.xml`,
            color: "#FF6600",
            external: true,
            "aria-label": `${t("name")} — RSS ${t("blog.title")}`,
          },
          ...SOCIALS.map((social) => ({
            name: social.name,
            href: social.href,
            color: social.color,
            external: true,
            "aria-label": `${t("name")} — ${social.name}`,
          })),
        ]}
      />
    </div>
  </Container>
</footer>
