---
import "@/styles/index.css";

import geistMono from "@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2";
import lora from "@fontsource-variable/lora/files/lora-latin-wght-normal.woff2";
import karla from "@fontsource-variable/rubik/files/rubik-latin-wght-normal.woff2";
import { ClientRouter } from "astro:transitions";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="preload" href={geistMono} as="font" type="font/woff2" crossorigin />
<link rel="preload" href={karla} as="font" type="font/woff2" crossorigin />
<link rel="preload" href={lora} as="font" type="font/woff2" crossorigin />
<link rel="canonical" href={new URL(Astro.url.pathname, Astro.site)} />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />

<ClientRouter />
