---
import { Image } from "astro:assets";
import Container from "@/components/Container.astro";
import Link from "@/components/Link.astro";
import { getBlogPosts, getProjects } from "@/lib/collections";
import { getTranslator } from "@/lib/i18n";
import Search from "./Search";

const t = getTranslator(Astro.currentLocale);

const postsEntries = await getBlogPosts({ locale: Astro.currentLocale });

const posts = postsEntries.map((post) => ({
  id: post.id,
  title: post.data.title,
  description: post.data.description,
  tags: post.data.tags,
}));

const projectsEntries = await getProjects({
  locale: Astro.currentLocale,
});

const projects = projectsEntries.map((project) => ({
  id: project.id,
  title: project.data.title,
  description: project.data.description,
  href: project.data.href,
  repo: project.data.repo,
  logo: project.data.logo?.src || "",
}));

const props = Astro.props;
---

<header
  class="sticky top-0 isolate z-20 bg-body py-3 sm:py-4 border-b border-b-transparent"
  {...props}
>
  <Container>
    <div class="flex flex-wrap items-center justify-between">
      <Link
        href={`/${Astro.currentLocale}`}
        underline={false}
        class="font-semibold text-current/75 gap-2 group"
        color="light-dark(#000, #fff)"
      >
        <Image
          src="https://avatars.githubusercontent.com/u/98274273?v=4"
          alt={t("name")}
          class="rounded-full opacity-75 [@media(pointer:fine)]:group-hover:opacity-100 motion-safe:transition"
          width={24}
          height={24}
          loading="eager"
          draggable="false"
        />
        {t("name")}
      </Link>

      <Search
        client:idle
        posts={posts}
        projects={projects}
        url={Astro.url}
        site={Astro.site}
        currentLocale={Astro.currentLocale}
      />
    </div>
  </Container>
</header>

<style>
header {
  animation: add-border linear both;
  animation-timeline: scroll();
  animation-range: 0 52px;
}

@keyframes add-border {
  to {
    border-color: color-mix(in srgb, var(--colors-foreground) 15%, transparent);
  }
}
</style>

<style is:global>
html[data-astro-transition] header,
html[data-astro-transition] header * {
  transition: none;
  animation: none;
}
</style>
