---
import Container from "@/components/Container.astro";
import Link from "@/components/Link.astro";
import { getBlogEntries, getProjectsEntries } from "@/content/entries";
import { getTranslations } from "@/i18n";

import Nav from "./Nav.astro";
import Search from "./Search";

const t = getTranslations(Astro.currentLocale);
const posts = await getBlogEntries({ locale: Astro.currentLocale });
const projects = await getProjectsEntries({ locale: Astro.currentLocale });
---

<header class="sticky top-0 z-10 bg-stone-100 py-4 sm:py-6">
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-y-2">
      <Link href={`/${Astro.currentLocale}`} underline={false}>
        <span class="font-semibold">
          {t("name")}
        </span>
      </Link>

      <Search
        client:idle
        posts={posts}
        projects={projects}
        url={Astro.url}
        site={Astro.site}
        currentLocale={Astro.currentLocale}
        className="ms-auto me-3"
      />

      <Nav
        items={[
          {
            name: t("blog.title"),
            href: `/${Astro.currentLocale}/blog`,
          },
          {
            name: t("projects.title"),
            href: `/${Astro.currentLocale}/projects`,
          },
        ]}
      />
    </div>
  </Container>
</header>
