---
import type { CollectionEntry } from "astro:content";
import { tv } from "tailwind-variants";

import PostTags from "./PostTags.astro";
import Time from "./Time.astro";

const styles = tv({
  slots: {
    root: [
      "group relative flex flex-nowrap items-center rounded-lg border border-black/15 p-4 hover:bg-black/5",
      "transition-colors duration-300 ease-in-out",
    ],
    wrapper: "flex grow flex-col flex-nowrap",
    title: "text-xl leading-normal font-semibold after:absolute after:inset-0 after:z-10",
    date: "mt-1 mb-2 font-mono text-sm opacity-75 first-letter:uppercase",
    icon: "size-6 opacity-75 transition-opacity duration-300 ease-in-out group-hover:opacity-100",
  },
});

type Props = {
  entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props;
---

<div class={styles().root()}>
  <div class={styles().wrapper()}>
    <a
      href={`/${Astro.currentLocale}/${entry.collection}/${entry.slug.replace(`${Astro.currentLocale}/`, "")}`}
      class={styles().title()}
    >
      {entry.data.title}
    </a>

    <p class={styles().date()}>
      <Time date={entry.data.date} />
    </p>

    {entry.data.tags && <PostTags tags={entry.data.tags} />}
  </div>

  <IconMaterialSymbolsArrowRightAltRounded className={styles().icon()} />
</div>
