---
import type { CollectionEntry } from "astro:content";
import PostTags from "./PostTags.astro";
import Time from "./Time.astro";

type Props = {
  entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props;
---

<a
  class="transition-colors duration-300 ease-in-out relative cursor-pointer relative flex flex-nowrap items-center rounded-xl bg-surface/15 border border-foreground/15 p-4 hover:bg-foreground/5 focus-visible:bg-foreground/5 outline-none focus-visible:border-foreground/20 hover:border-foreground/20 active:border-foreground/25"
  href={`/${Astro.currentLocale}/${entry.collection}/${entry.id.replace(`${Astro.currentLocale}/`, "")}`}
  aria-label={entry.data.title}
  transition:name={`post-${entry.id}-card`}
>
  <div class={"flex grow flex-col flex-nowrap"}>
    <span
      class="text-xl leading-normal font-semibold text-balance"
      transition:name={`post-${entry.id}-title`}
    >
      {entry.data.title}
    </span>
    <p
      class={"mt-1 mb-2 font-serif text-current/75 first-letter:uppercase text-pretty"}
      transition:name={`post-${entry.id}-description`}
    >
      {entry.data.description}
    </p>

    {entry.data.tags && <PostTags tags={entry.data.tags} transitionId={`post-${entry.id}-tags`} />}
  </div>
  <p class="absolute right-3 top-3 font-mono text-sm text-current/75">
    <Time
      date={entry.data.date}
      options={{}}
      transition:name={`post-${entry.id}-date`}
    />
  </p>
</a>
