---
import type { CollectionEntry } from "astro:content";
import { tv } from "tailwind-variants";
import Time from "./Time.astro";

const styles = tv({
  slots: {
    base: [
      "flex flex-nowrap p-4 pr-10 rounded-lg border border-black/15 hover:bg-black/5 hover:text-black",
      "transition-colors duration-300 ease-in-out",
    ],
    wrapper: "flex grow flex-col",
    title: "font-semibold text-xl",
    description: "opacity-75",
  },
});

type Props = {
  entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props;
---

<a href={`/${entry.collection}/${entry.slug}`} class={styles().base()}>
  <hgroup class={styles().wrapper()}>
    <h3 class={styles().title()}>
      {entry.data.title}
    </h3>
    <p class={styles().description()}>
      <Time date={entry.data.date} />
    </p>
  </hgroup>
</a>
