---
import type { CollectionEntry } from "astro:content";
import { cx } from "class-variance-authority";
import PostTags from "./PostTags.astro";
import Time from "./Time.astro";

type Props = {
  entry: CollectionEntry<"blog">;
};

const { entry } = Astro.props;
---

<div
  class={cx([
      "group relative cursor-pointer relative flex flex-nowrap items-center rounded-xl bg-surface/15 border border-foreground/15 p-4 hover:bg-foreground/5",
      "transition-colors duration-300 ease-in-out",
    ])}
>
  <div class={"flex grow flex-col flex-nowrap"}>
    <a
      href={`/${Astro.currentLocale}/${entry.collection}/${entry.id.replace(`${Astro.currentLocale}/`, "")}`}
      class={"text-xl leading-normal font-semibold after:absolute after:content-[''] after:inset-0 after:z-10"}
    >
      {entry.data.title}
    </a>

    <p class={"mt-1 mb-2 font-serif text-current/75 first-letter:uppercase"}>
      {entry.data.description}
    </p>

    {entry.data.tags && <PostTags tags={entry.data.tags} />}
  </div>
  <p class="absolute right-3 top-3 font-mono text-sm text-current/75">
    <Time date={entry.data.date} options={{}} />
  </p>

  <span
    class={"i-material-symbols:arrow-right-alt-rounded text-2xl text-current/50 right-3 top-2/3 absolute transition-opacity duration-300 ease-in-out group-hover:text-current/75"}
  />
</div>
