---
import { cx } from "class-variance-authority";
import type { BlogPost } from "@/lib/collections";
import PostTags from "./PostTags.astro";
import Time from "./Time.astro";

type Props = {
  entry: BlogPost;
};

const cardClass = cx([
  "relative flex flex-col cursor-pointer rounded-xl p-4 outline-none",
  "ring ring-inset ring-foreground/15",
  "bg-surface/15",
  "motion-safe:(transition duration-300 ease-in-out)",
  "@hover:(bg-foreground/5 ring-foreground/20)",
  "focus-visible:(bg-foreground/5 ring-foreground/20)",
  "active:(!bg-foreground/10 !ring-foreground/25)",
]);

const { entry } = Astro.props;
---

<a
  class={cardClass}
  href={`/${Astro.currentLocale}/${entry.collection}/${entry.id.replace(`${Astro.currentLocale}/`, "")}`}
  aria-label={entry.data.title}
  transition:name={`post-${entry.id}-card`}
>
  <div class={"flex grow flex-col flex-nowrap"}>
    <span
      class="text-xl leading-normal font-semibold text-balance"
      transition:name={`post-${entry.id}-title`}
    >
      {entry.data.title}
    </span>
    <p
      class={"mt-1 mb-2 font-serif text-current/75 first-letter:uppercase text-pretty"}
      transition:name={`post-${entry.id}-description`}
    >
      {entry.data.description}
    </p>

    {entry.data.tags && <PostTags tags={entry.data.tags} transitionId={`post-${entry.id}-tags`} />}
  </div>
  <p class="absolute right-3 top-3 font-mono text-sm text-current/75">
    <Time
      date={entry.data.date}
      options={{}}
      transition:name={`post-${entry.id}-date`}
    />
  </p>
</a>
