---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import ProjectCardStars from "./ProjectCardStars.astro";
import ProjectCardStarsSkeleton from "./ProjectCardStarsSkeleton.astro";
import { tv } from "tailwind-variants";

type Props = {
  entry: CollectionEntry<"projects">;
};

const styles = tv({
  slots: {
    root: [
      "relative rounded-lg p-4",
      "transition duration-300 ease-in-out",
      "bg-(--project-card-color)/5 hover:bg-(--project-card-color)/15 active:ring-(--project-card-color)/30",
      "ring ring-(--project-card-color)/15 ring-inset hover:ring-(--project-card-color)/30 active:hover:ring-(--project-card-color)/50",
    ],
    wrapper: "mb-1 flex items-center gap-2",
    logo: "size-6 rounded-full shadow ring ring-black/15",
    title: "text-xl leading-normal font-semibold after:absolute after:inset-0 after:z-10",
    description: "mb-2 font-serif opacity-75",
    date: "first-letter:uppercase",
    stars: "flex items-center gap-1",
    footer: "flex items-center gap-3 font-mono text-sm text-(--project-card-color)",
  },
});

const { entry } = Astro.props;

const formatter = new Intl.DateTimeFormat(Astro.currentLocale, { year: "numeric", month: "short" });
---

<div
  class={styles().root()}
  style={{
    "--project-card-color": entry.data.color,
  }}
>
  <div class={styles().wrapper()}>
    <Image
      src={entry.data.logo}
      alt={entry.data.title}
      draggable="false"
      width={24}
      height={24}
      class={styles().logo()}
    />
    <a href={entry.data.href} target="_blank" rel="noopener noreferrer" class={styles().title()}>
      {entry.data.title}
    </a>
  </div>
  <p class={styles().description()}>
    {entry.data.description}
  </p>
  <div class={styles().footer()}>
    <p class={styles().date()}>
      {
        entry.data.dateEnd
          ? formatter.formatRange(entry.data.dateStart, entry.data.dateEnd)
          : formatter.format(entry.data.dateStart)
      }
    </p>
    <ProjectCardStars project={entry.data} server:defer>
      <ProjectCardStarsSkeleton slot="fallback" />
    </ProjectCardStars>
  </div>
</div>
