---
import ProjectCard from "@components/ProjectCard.astro";
import { PROJECTS } from "@constants";
import { getProjectsEntries } from "@content/entries";
import PageLayout from "@layouts/PageLayout.astro";

const entries = await getProjectsEntries();
---

<PageLayout title={PROJECTS.title} description={PROJECTS.description}>
  <div class="space-y-10">
    <hgroup>
      <h1 class="font-semibold text-3xl mb-3">{PROJECTS.title}</h1>
      <p class="font-serif text-justify">{PROJECTS.description}</p>
    </hgroup>

    <ul class="space-y-4">
      {
        entries.map((entry) => (
          <li>
            <ProjectCard entry={entry} />
          </li>
        ))
      }
    </ul>
  </div>
</PageLayout>
