---
import { type CollectionEntry, render } from "astro:content";
import Article from "@/components/content/Article.astro";
import H2 from "@/components/content/H2.astro";
import H3 from "@/components/content/H3.astro";
import Pre from "@/components/content/Pre.astro";
import Prose from "@/components/content/Prose.astro";
import PostTags from "@/components/PostTags.astro";
import ScrollToTopButton from "@/components/ScrollToTopButton.astro";
import Time from "@/components/Time.astro";
import { getBlogEntries } from "@/content/entries";
import { getTranslator } from "@/i18n";
import PageLayout from "@/layouts/PageLayout.astro";

const t = getTranslator(Astro.currentLocale);

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getBlogEntries();

  return posts.map((post) => {
    const locale = post.id.split("/")[0];
    const id = `${post.id.replace(`${locale}/`, "")}`;

    return {
      params: { locale, id },
      props: post,
    };
  });
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);

const components = { h2: H2, h3: H3, pre: Pre };
---

<PageLayout
  title={post.data.title}
  description={post.data.description}
  publishedAt={post.data.date}
>
  <a
    href={`/${Astro.currentLocale}/blog`}
    class="flex items-center gap-1 py-4 no-underline opacity-75 transition-opacity hover:opacity-100"
  >
    <span class="i-material-symbols:arrow-back-rounded text-xl" />
    {t("back")}
  </a>

  <Prose>
    <hgroup>
      <h1 class="mt-3 !mb-0">{post.data.title}</h1>
      <p class="mt-3">{post.data.description}</p>
    </hgroup>

    <p class="font-base text-sm first-letter:uppercase">
      <Time date={post.data.date} />
    </p>

    {post.data.tags && <PostTags tags={post.data.tags} />}

    <hr class="border-dashed">
  </Prose>

  <Article><Content components={components} /></Article>
</PageLayout>
