---
import Article from "@components/content/Article.astro";
import { type CollectionEntry } from "astro:content";
import { getBlogEntries } from "@content/entries";
import H2 from "@components/content/H2.astro";
import H3 from "@components/content/H3.astro";
import MaterialSymbolsArrowBackRounded from "~icons/material-symbols/arrow-back-rounded";
import PageLayout from "@layouts/PageLayout.astro";
import PostTags from "@components/PostTags.astro";
import Time from "@components/Time.astro";
import { useTranslations } from "@i18n";

const t = useTranslations(Astro.currentLocale);

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getBlogEntries();

  return posts.map(function (post) {
    const locale = post.id.split("/")[0];
    const slug = `${post.slug.replace(`${locale}/`, "")}`;

    return {
      params: { locale, slug },
      props: post,
    };
  });
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const components = { h2: H2, h3: H3 };
---

<PageLayout title={post.data.title} description={post.data.description}>
  <a
    href={`/${Astro.currentLocale}/blog`}
    class="flex items-center gap-1 py-4 no-underline opacity-75 transition-opacity hover:opacity-100"
  >
    <MaterialSymbolsArrowBackRounded class="size-5" />
    {t("back")}
  </a>

  <Article>
    <hgroup>
      <h1 class="m-0">{post.data.title}</h1>
      <p class="my-3">{post.data.description}</p>
    </hgroup>

    <p class="font-base text-sm first-letter:uppercase">
      <Time date={post.data.date} />
    </p>

    {post.data.tags && <PostTags tags={post.data.tags} />}

    <hr class="my-8 border-dashed" />

    <Content components={components} />
  </Article>
</PageLayout>
