---
import { type CollectionEntry, render } from "astro:content";
import Article from "@/components/Article.astro";
import { components } from "@/components/mdx";
import Nav from "@/components/Nav.astro";
import PostTags from "@/components/PostTags.astro";
import Prose from "@/components/Prose.astro";
import Time from "@/components/Time.astro";
import { getBlogEntries } from "@/content/entries";
import { getTranslator } from "@/i18n";
import PageLayout from "@/layouts/PageLayout.astro";

const t = getTranslator(Astro.currentLocale);

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getBlogEntries();

  return posts.map((post) => {
    const locale = post.id.split("/")[0];
    const id = `${post.id.replace(`${locale}/`, "")}`;

    return {
      params: { locale, id },
      props: post,
    };
  });
}

type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<PageLayout
  title={post.data.title}
  description={post.data.description}
  publishedAt={post.data.date}
>
  <Nav
    items={[
      {
        name: t("home.title"),
        href: `/${Astro.currentLocale}`,
        active: false,
      },
      {
        name: t("blog.title"),
        href: `/${Astro.currentLocale}/blog`,
        active: false,
      },
      {
        name: post.data.title,
        href: "",
        active: true,
      },
    ]}
    class="mb-6"
  />

  <Prose>
    <hgroup>
      <h1 class="mb-3">{post.data.title}</h1>
      <p class="mt-3 mb-4 text-lg">{post.data.description}</p>
    </hgroup>

    <p class="font-base first-letter:uppercase mb-2">
      <Time date={post.data.date} />
    </p>

    {post.data.tags && <PostTags tags={post.data.tags} />}

    <hr class="border-dashed">
  </Prose>

  <Article><Content components={components} /></Article>
</PageLayout>
