---
import { render } from "astro:content";
import { PostTags } from "@/components/collections/blog";
import { components } from "@/components/mdx";
import { Article, Link, Prose, Time } from "@/components/ui";
import BaseLayout from "@/layouts/BaseLayout.astro";
import type { BlogPost } from "@/lib/collections/blog";
import { getBlogPosts } from "@/lib/collections/blog/content";
import { getTranslator } from "@/lib/i18n";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getBlogPosts();

  return posts.map((post) => {
    const [locale, id] = post.id.split("/");

    return {
      params: { locale, id },
      props: { post },
    };
  });
}

interface Props {
  post: BlogPost;
}

const { post } = Astro.props;
const t = getTranslator(Astro.currentLocale);
const { Content } = await render(post);
---

<meta property="article:author" content={t("name")}>
<meta property="article:published_time" content={post.data.date.toISOString()}>

<BaseLayout title={post.data.title} description={post.data.description}>
  <Link
    href={`/${Astro.currentLocale}/blog`}
    class="mb-6 text-base flex items-center justify-center gap-1"
    underline={false}
  >
    <span class="i-f7:chevron-left text-2xl" />
    <span transition:name="blog-page-title"> {t("blog.title")} </span>
  </Link>

  <Prose>
    <hgroup>
      <h1 class="mb-3" transition:name={`post-${post.id}-title`}>
        {post.data.title}
      </h1>
      <p
        class="mt-3 mb-4 text-lg text-pretty"
        transition:name={`post-${post.id}-description`}
      >
        {post.data.description}
      </p>
    </hgroup>

    <p class="font-base first-letter:uppercase mb-2">
      <Time date={post.data.date} transition:name={`post-${post.id}-date`} />
    </p>

    {post.data.tags && <PostTags tags={post.data.tags} transitionId={`post-${post.id}-tags`} />}

    <hr class="border-dashed">
  </Prose>

  <Article><Content components={components} /></Article>
</BaseLayout>
